@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="tm-breadcrumb-area tm-padding-section bg-dark" style="background-image: url('/assets/images/breadcrumb-bg.jpg'); background-size: cover; background-position: center; height: 250px;">
    <div class="container">
        <div class="tm-breadcrumb">
            <h2>About Us</h2>
        </div>
    </div>
</div>  
<main class="page-content">
    <div class="tm-section tm-feature-area bg-grey">
        <div class="container">
            <div class="row mt-30-reverse">
                <div class="col-lg-4 mt-30">
                    <div class="tm-feature">
                        <span class="tm-feature-icon">
                            <img src="~/assets/images/icons/icon-free-shipping.png" alt="free shipping">
                        </span>
                        <div class="tm-feature-content">
                            <h6>Free Shipping</h6>
                            <p>We provide free shipping for all order over $200.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-30">
                    <div class="tm-feature">
                        <span class="tm-feature-icon">
                            <img src="~/assets/images/icons/icon-fast-delivery.png" alt="fast delivery">
                        </span>
                        <div class="tm-feature-content">
                            <h6>Fast Delivery</h6>
                            <p>We always deliver our customers very quickly.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-30">
                    <div class="tm-feature">
                        <span class="tm-feature-icon">
                            <img src="~/assets/images/icons/icon-247-support.png" alt="24/7 Support">
                        </span>
                        <div class="tm-feature-content">
                            <h6>24/7 Support</h6>
                            <p>We provide support to our customers within 24 hours. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-about-area tm-padding-section bg-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="tm-about-image">
                        <img src="~/assets/images/32.webp" alt="about-us-jewellery-image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tm-about-content">
                        <h4>Welcome to Flower eCommerce Store</h4>
                        <p>At Floral Shop, we believe that flowers are not just beautiful decorations; they’re expressions of your unique feelings, symbols of life’s precious moments, and reflections of natural beauty. We are dedicated to providing exquisite floral arrangements that capture the essence of these sentiments and bring joy to every occasion.</p>
                        <h5>Our Story</h5>
                        <p class="mt-0">Founded by a passionate team of florists and nature enthusiasts, Floral Shop has a rich history of crafting unique, handcrafted floral arrangements that have brightened lives for generations. Our journey began with a vision to create floral designs that not only captivate with their beauty but also resonate with the emotions of each occasion. Over the years, we have combined traditional floral artistry with contemporary aesthetics to bring you a collection that is both timeless and versatile.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

                      </main>