@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="tm-breadcrumb-area tm-padding-section bg-grey" style="background-image: url('/assets/images/breadcrumb-bg.jpg'); background-size: cover; background-position: center; height: 250px;">
    <div class="container">
        <div class="tm-breadcrumb">
            <h2>Anniversary</h2>
            <ul>
                <li><a asp-controller="home" asp-action="index">Home</a></li>
                <li>Occasion</li>
            </ul>
        </div>
    </div>
</div>
<main class="page-content">
    <div class="tm-products-area tm-section tm-padding-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <form action="#" class="tm-shop-header">
                        <div class="tm-shop-productview">
                            <span>View:</span>
                            <button data-view="grid" class="active"><i class="ion-android-apps"></i></button>
                            <button data-view="list"><i class="ion-android-menu"></i></button>
                        </div>
                        <p class="tm-shop-countview">Showing 1 to 9 of 16 </p>
                        <select>
                            <option value="value">Default Sorting</option>
                            <option value="value">Name A-Z</option>
                            <option value="value">Date</option>
                            <option value="value">Best Sellers</option>
                            <option value="value">Trending</option>
                        </select>
                    </form>
                    <div class="tm-shop-products">
                        <div class="row mt-30-reverse">
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mt-50">
                                <div class="tm-product tm-scrollanim">
                                    <div class="tm-product-topside">
                                        <div class="tm-product-images">
                                            <img src="~/assets/images/Flower products/Anniversary1.jpg" alt="product image">
                                        </div>
                                        <ul class="tm-product-actions">
                                            <li>
                                                <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                            </li>
                                            <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                            <li><a href="#"><i class="ion-heart"></i></a></li>
                                        </ul>
                                        <div class="tm-product-badges">
                                            <span class="tm-product-badges-new">New</span>
                                            <span class="tm-product-badges-sale">Sale</span>
                                        </div>
                                    </div>
                                    <div class="tm-product-bottomside">
                                        <h6 class="tm-product-title"><a href="">Marqrerlte</a></h6>
                                        <div class="tm-ratingbox">
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span><i class="ion-android-star-outline"></i></span>
                                        </div>
                                        <span class="tm-product-price">$29.99</span>
                                        <div class="tm-product-content">
                                            <ul class="tm-product-actions">
                                                <li>
                                                    <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                                </li>
                                                <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                                <li><a href="#"><i class="ion-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mt-50">
                                <div class="tm-product tm-scrollanim">
                                    <div class="tm-product-topside">
                                        <div class="tm-product-images">
                                            <img src="~/assets/images/Flower products/Anniversary2.jpg" alt="product image">
                                        </div>
                                        <ul class="tm-product-actions">
                                            <li>
                                                <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                            </li>
                                            <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                            <li><a href="#"><i class="ion-heart"></i></a></li>
                                        </ul>
                                        <div class="tm-product-badges">
                                            <span class="tm-product-badges-new">New</span>
                                        </div>
                                    </div>
                                    <div class="tm-product-bottomside">
                                        <h6 class="tm-product-title"><a href="">Adore</a></h6>
                                        <div class="tm-ratingbox">
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span><i class="ion-android-star-outline"></i></span>
                                        </div>
                                        <span class="tm-product-price">$29.99</span>
                                        <div class="tm-product-content">
                                            <ul class="tm-product-actions">
                                                <li>
                                                    <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                                </li>
                                                <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                                <li><a href="#"><i class="ion-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mt-50">
                                <div class="tm-product tm-scrollanim">
                                    <div class="tm-product-topside">
                                        <div class="tm-product-images">
                                            <img src="~/assets/images/Flower products/Anniversary3.webp" alt="product image">
                                        </div>
                                        <ul class="tm-product-actions">
                                            <li>
                                                <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                            </li>
                                            <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                            <li><a href="#"><i class="ion-heart"></i></a></li>
                                        </ul>
                                        <div class="tm-product-badges">
                                            <span class="tm-product-badges-new">New</span>
                                        </div>
                                    </div>
                                    <div class="tm-product-bottomside">
                                        <h6 class="tm-product-title"><a href="">Fall in Love</a></h6>
                                        <div class="tm-ratingbox">
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span><i class="ion-android-star-outline"></i></span>
                                        </div>
                                        <span class="tm-product-price">$29.99</span>
                                        <div class="tm-product-content">
                                            <ul class="tm-product-actions">
                                                <li>
                                                    <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                                </li>
                                                <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                                <li><a href="#"><i class="ion-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mt-50">
                                <div class="tm-product tm-scrollanim">
                                    <div class="tm-product-topside">
                                        <div class="tm-product-images">
                                            <img src="~/assets/images/Flower products/Anniversary4.webp" alt="product image">
                                        </div>
                                        <ul class="tm-product-actions">
                                            <li>
                                                <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                            </li>
                                            <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                            <li><a href="#"><i class="ion-heart"></i></a></li>
                                        </ul>
                                        <div class="tm-product-badges">
                                            <span class="tm-product-badges-new">New</span>
                                        </div>
                                    </div>
                                    <div class="tm-product-bottomside">
                                        <h6 class="tm-product-title"><a href="">Elken</a></h6>
                                        <div class="tm-ratingbox">
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span><i class="ion-android-star-outline"></i></span>
                                        </div>
                                        <span class="tm-product-price">$29.99</span>
                                        <div class="tm-product-content">
                                            <ul class="tm-product-actions">
                                                <li>
                                                    <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                                </li>
                                                <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                                <li><a href="#"><i class="ion-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mt-50">
                                <div class="tm-product tm-scrollanim">
                                    <div class="tm-product-topside">
                                        <div class="tm-product-images">
                                            <img src="~/assets/images/Flower products/Anniversary5.webp" alt="product image">
                                        </div>
                                        <ul class="tm-product-actions">
                                            <li>
                                                <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                            </li>
                                            <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                            <li><a href="#"><i class="ion-heart"></i></a></li>
                                        </ul>
                                        <div class="tm-product-badges">
                                            <span class="tm-product-badges-new">New</span>
                                        </div>
                                    </div>
                                    <div class="tm-product-bottomside">
                                        <h6 class="tm-product-title"><a href="">Blissfull Blossam</a></h6>
                                        <div class="tm-ratingbox">
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span><i class="ion-android-star-outline"></i></span>
                                        </div>
                                        <span class="tm-product-price">$29.99</span>
                                        <div class="tm-product-content">

                                            <ul class="tm-product-actions">
                                                <li>
                                                    <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                                </li>
                                                <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                                <li><a href="#"><i class="ion-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mt-50">
                                <div class="tm-product tm-scrollanim">
                                    <div class="tm-product-topside">
                                        <div class="tm-product-images">
                                            <img src="~/assets/images/Flower products/Anniversary6.jpg" alt="product image">
                                        </div>
                                        <ul class="tm-product-actions">
                                            <li>
                                                <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                            </li>
                                            <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                            <li><a href="#"><i class="ion-heart"></i></a></li>
                                        </ul>
                                        <div class="tm-product-badges">
                                            <span class="tm-product-badges-new">New</span>
                                        </div>
                                    </div>
                                    <div class="tm-product-bottomside">
                                        <h6 class="tm-product-title"><a href="">Roseate</a></h6>
                                        <div class="tm-ratingbox">
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                            <span><i class="ion-android-star-outline"></i></span>
                                        </div>
                                        <span class="tm-product-price">$29.99</span>
                                        <div class="tm-product-content">
                                            <p>From classic roses to exotic orchids and seasonal blooms, we offer an array of choices to suit every taste and style.</p>
                                            <ul class="tm-product-actions">
                                                <li>
                                                    <a href="#"><i class="ion-android-cart"></i> Add to cart</a>
                                                </li>
                                                <li><button data-fancybox data-src="#tm-product-quickview"><i class="ion-eye"></i></button></li>
                                                <li><a href="#"><i class="ion-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="tm-pagination mt-50">
                        <ul>
                            <li class="is-active"><a href="products.html">1</a></li>
                            <li><a href="products.html">2</a></li>
                            <li><a href="products.html">3</a></li>
                            <li><a href="products.html">4</a></li>
                            <li><a href="products.html"><i class="ion-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="widgets">
                        <div class="single-widget widget-categories">
                            <h6 class="widget-title">Products</h6>
                            <ul>
                                <li><a asp-controller="home" asp-action="birthday">Birthday</a></li>
                                <li><a asp-controller="home" asp-action="anniversary">Anniversary</a></li>
                                <li><a asp-controller="home" asp-action="wedding">Weddings</a></li>
                                <li><a asp-controller="home" asp-action="valentine">Valentine's Day</a></li>
                                <li><a asp-controller="home" asp-action="congratulation">Congratulation</a></li>
                            </ul>
                        </div>
                        <div class="single-widget widget-pricefilter">
                            <h6 class="widget-title">Filter by Price</h6>
                            <div class="widget-pricefilter-inner">
                                <div class="tm-rangeslider" data-range_min="0" data-range_max="800" data-cur_min="200" data-cur_max="550">
                                    <div class="tm-rangeslider-bar nst-animating"></div>
                                    <span class="tm-rangeslider-leftgrip nst-animating" tabindex="0"></span>
                                    <span class="tm-rangeslider-rightgrip nst-animating" tabindex="0"></span>
                                </div>
                                <div class="widget-pricefilter-actions">
                                    <p class="widget-pricefilter-price">
                                        Price: $<span class="tm-rangeslider-leftlabel">308</span>
                                        - $<span class="tm-rangeslider-rightlabel">798</span>
                                    </p>
                                    <button class="widget-pricefilter-button">Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<div class="tm-product-quickview" id="tm-product-quickview">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10 col-12">
                <div class="tm-product-quickview-inner">
                    <div class="tm-prodetails">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-10 col-12">
                                <div class="tm-prodetails-images">
                                    <div class="tm-prodetails-largeimages">
                                        <div class="tm-prodetails-largeimage">
                                            <img src="/assets/images/Flower products/Anniversary1.jpg" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img src="/assets/images/Flower products/Anniversary2.jpg" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img src="/assets/images/Flower products/Anniversary3.webp" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img src="/assets/images/Flower products/Anniversary4.webp" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img src="/assets/images/Flower products/Anniversary5.webp" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img src="/assets/images/Flower products/Anniversary6.jpg" alt="product image">
                                        </div>
                                    </div>
                                    <div class="tm-prodetails-thumbnails">
                                        <div class="tm-prodetails-thumbnail">
                                            <img src="/assets/images/Flower products/Anniversary1.jpg" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img src="/assets/images/Flower products/Anniversary2.jpg" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img src="/assets/images/Flower products/Anniversary3.webp" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img src="/assets/images/Flower products/Anniversary4.webp" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img src="/assets/images/Flower products/Anniversary5.webp" alt="product image">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img src="/assets/images/Flower products/Anniversary6.jpg" alt="product image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="tm-prodetails-content">
                                    <h4 class="tm-prodetails-title">Anniversary Flower's</h4>
                                    <span class="tm-prodetails-price"><del>$75.99</del> $59.99</span>
                                    <div class="tm-ratingbox">
                                        <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                        <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                        <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                        <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                        <span><i class="ion-android-star-outline"></i></span>
                                    </div>
                                    <div class="tm-prodetails-infos">
                                        <div class="tm-prodetails-singleinfo">
                                            <b>Product ID : </b>010
                                        </div>
                                        <div class="tm-prodetails-singleinfo">
                                            <b>Category : </b><a href="#">Anniversary Flower</a>
                                        </div>
                                        <div class="tm-prodetails-singleinfo tm-prodetails-tags">
                                            <b>Tags : </b>
                                            <ul>
                                                <li><a href="#">Birthday</a></li>
                                                <li><a href="#">Anniversary</a></li>
                                                <li><a href="#">Weddings</a></li>
                                            </ul>
                                        </div>
                                        <div class="tm-prodetails-singleinfo">
                                            <b>Available : </b>
                                            <span class="color-theme">In Stock</span>
                                        </div>
                                        <div class="tm-prodetails-singleinfo tm-prodetails-share">
                                            <b>Share : </b>
                                            <ul>
                                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                                <li>
                                                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="ion-social-skype-outline"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>From classic roses to exotic orchids and seasonal blooms, we offer an array of choices to suit every taste and style.</p>
                                    <div class="tm-prodetails-quantitycart">
                                        <h6>Quantity :</h6>
                                        <div class="tm-quantitybox">
                                            <input type="text" value="1">
                                        </div>
                                        <a href="#" class="tm-button tm-button-dark">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
