@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="tm-breadcrumb-area tm-padding-section bg-grey" style="background-image: url('/assets/images/breadcrumb-bg.jpg'); background-size: cover; background-position: center; height: 250px;">
    <div class="container">
        <div class="tm-breadcrumb">
            <h2>Bouquet</h2>
        </div>
    </div>
</div>
<main class="page-content">
    <div class="tm-section tm-portfolios-area tm-padding-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tm-portfolio-filters text-center">
                        <button data-filter="*" class="is-active">All</button>

                        <button data-filter=".portfolio-cat-bracelet">Birthday</button>
                        <button data-filter=".portfolio-cat-earrings">Anniversary</button>
                        <button data-filter=".portfolio-cat-locket">Weddings</button>
                        <button data-filter=".portfolio-cat-necklace">Valentine's Day</button>
                        <button data-filter=".portfolio-cat-ring">Congratulation</button>
                    </div>
                </div>
            </div>
            <div class="row tm-portfolio-wrapper mt-30-reverse">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 tm-portfolio-item portfolio-cat-locket mt-30">
                    <a href="~/assets/images/Flower products/Wedding3.webp" class="tm-portfolio" data-fancybox="portfolio-gallery" data-caption="Self makeup at home">
                        <img src="~/assets/images/Flower products/Wedding3.webp" alt="gallery image" height="350px">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 tm-portfolio-item portfolio-cat-earrings portfolio-cat-earrings mt-30">
                    <a href="~/assets/images/Flower products/Anniversary1.jpg" class="tm-portfolio" data-fancybox="portfolio-gallery" data-caption="Self makeup at home">
                        <img src="~/assets/images/Flower products/Anniversary1.jpg" alt="gallery image" height="350px">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 tm-portfolio-item portfolio-cat-ring mt-30">
                    <a href="~/assets/images/Flower products/Congratulation2.webp" class="tm-portfolio" data-fancybox="portfolio-gallery" data-caption="Self makeup at home">
                        <img src="~/assets/images/Flower products/Congratulation2.webp" alt="gallery image" height="350px">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 tm-portfolio-item portfolio-cat-necklace mt-30">
                    <a href="~/assets/images/Flower products/Valentine2.jpg" class="tm-portfolio" data-fancybox="portfolio-gallery" data-caption="Self makeup at home">
                        <img src="~/assets/images/Flower products/Valentine2.jpg" alt="gallery image" height="350px">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 tm-portfolio-item portfolio-cat-bracelet mt-30">
                    <a href="~/assets/images/Flower products/Birthday1.png" class="tm-portfolio" data-fancybox="portfolio-gallery" data-caption="Self makeup at home">
                        <img src="~/assets/images/Flower products/Birthday1.png" alt="gallery image" height="350px">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 tm-portfolio-item portfolio-cat-locket mt-30">
                    <a href="~/assets/images/Flower products/Wedding2.webp" class="tm-portfolio" data-fancybox="portfolio-gallery" data-caption="Self makeup at home">
                        <img src="~/assets/images/Flower products/Wedding2.webp" alt="gallery image" height="350px">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 tm-portfolio-item portfolio-cat-necklace  mt-30">
                    <a href="~/assets/images/Flower products/Valentine3.jpg" class="tm-portfolio" data-fancybox="portfolio-gallery" data-caption="Self makeup at home">
                        <img src="~/assets/images/Flower products/Valentine3.jpg" alt="gallery image" height="350px">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 tm-portfolio-item portfolio-cat-bracelet mt-30">
                    <a href="~/assets/images/Flower products/Birthday2.jpg" class="tm-portfolio" data-fancybox="portfolio-gallery" data-caption="Self makeup at home">
                        <img src="~/assets/images/Flower products/Birthday2.jpg" alt="gallery image" height="350px">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 tm-portfolio-item portfolio-cat-earrings mt-30">
                    <a href="~/assets/images/Flower products/Anniversary2.jpg" class="tm-portfolio" data-fancybox="portfolio-gallery" data-caption="Self makeup at home">
                        <img src="~/assets/images/Flower products/Anniversary2.jpg" alt="gallery image" height="350px">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tm-portfolio-loadmore text-center mt-50">
                        <button class="tm-button">Load more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>